.active .navBar{
   background-color: black;
   color: white; 
   font-weight: 600;
}
/* .disableButton{
    fill: rgb(0 0 0 / 0.2);
    background-color: ;
} */
.swiper-button-disabled{
    position: absolute;
    /* left: -2rem; */
    display: none;
    transition: all;
}